.one_time_service_wrapper {
    padding: 50px 0;
}

.one_time_service_details_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left_one_time_service {
    width: 33%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.right_one_time_service_details {
    width: 64%;
    margin-top: 15px;
}

.service_big_img {
    width: 100%;
    height: 50vh;
    border-radius: 15px;
    overflow: hidden;
}

.service_big_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.service_small_img {
    height: 82px;
    width: 95% !important;
    border-radius: 10px;
    overflow: hidden;
}

.service_small_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right_one_time_service_details small {
    background-color: rgba(144, 155, 109, 1);
    color: #fff;
    padding: 3px 5px;
    border-radius: 5px;
    width: fit-content;
    font-size: 11px;
    display: block;
    margin-bottom: 10px;
}

.right_one_time_service_details div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.right_one_time_service_details del {
    font-size: 30px;
    color: rgba(70, 35, 7, 0.4);
    margin-bottom: 10px;
}

.right_one_time_service_details h1 {
    color: rgba(206, 115, 86, 1);
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}

.right_one_time_service_details span {
    display: block;
    margin: 10px 0;
    font-size: 14px;
}

.right_one_time_service_details strong {
    font-weight: 600;
}

.right_one_time_service_details p {
    font-size: 15px;
    color: var(--text-color);
    line-height: 20px;
    margin-top: 15px;
}

.right_one_time_service_details .brown_button {
    margin-top: 30px;
    font-size: 14px;
    padding: 10px 30px;
}

.one_time_content_wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding-bottom: 40px;
}

.service_tabs_wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(217, 217, 217, 1);
    padding-left: 20px;
    margin-top: 20px;
}

.service_tabs_wrapper p {
    font-size: 16px;
    color: var(--text-color);
    position: relative;
    cursor: pointer;
    transition: 0.2s linear all;
}

.service_expect_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: start;
    /* margin-top: 25px; */
}

.service_expert_left {
    width: 60%;
}

.benefits_wrapper {
    display: flex;
    justify-content: flex-start;
    gap: 28px;
}

.benefits_wrapper p {
    font-size: 14px;
    color: var(--text-color);
    line-height: 22px;
}

/* .benefits_wrapper img {} */

.service_expert_left h3 {
    font-size: 28px;
    font-weight: 600;
    color: var(--text-color);
}

.benefits_points_wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin-top: 15px;
}

.service_expert_right {
    width: 35%;
    border-radius: 15px;
    height: auto;
    overflow: hidden;
}

.service_expert_right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.service_expert_left .faq_accordion_wrapper h3 {
    font-size: 15px;
    font-weight: 500;
}

/* .service_long_img img {
    height: 100vh;
    border-radius: 15px;
} */

.service_reviews_wrapper {

    margin-top: 25px;
}

.service_content_wrapper {
    display: flex;
    justify-content: space-between;
}

.service_reviews_left {
    width: 28%;
}

.service_rating_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.service_rating {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 7px;
}

.service_rating h3 {
    font-size: 20px;
    color: var(--text-color);
    font-weight: 600
}

.service_rating_wrapper p {
    color: var(--text-color);
    font-weight: 400;
    font-size: 11px;

}

.service_reviews_left small {
    color: var(--text-color);
    font-weight: 400;
    font-size: 15px;
    display: block;
    margin-top: 20px;
}

.different_ratings_wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 15px;
}

.rating5_wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.rating5_wrapper p {
    font-size: 13px;
    color: var(--text-color);
    font-weight: 400;
}

.rating_outside_wrapper {
    width: 96%;
    height: 8px;
    background-color: #ebe9e8;
    border-radius: 3px;
    overflow: hidden;
}

.rating_outside_wrapper div {
    width: 100%;
    height: 100%;
    background-color: rgba(224, 173, 34, 1);
}

.service_reviews_right {
    width: 68%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.service_review_wrapper {
    border: 1px solid rgba(217, 217, 217, 1);
    border-radius: 16px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
}

.service_review_img_wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.service_review_img_wrapper img {
    width: 55px;
    border-radius: 50%;
    height: 55px;
}

.service_review_details {
    width: 80%;
}

.service_review_rating_wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.service_review_rating_wrapper p {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 400;
}

.service_review_img_wrapper p {
    white-space: nowrap;
}

.review_text {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin-top: 10px;
}

.service_active::after {
    content: '';
    position: absolute;
    bottom: -11px;
    height: 2px;
    left: 0;
    background-color: var(--primary-color);
    width: 100%;
    transition: 0.2s linear all;
}

.available_tabs_wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 60px;
}

.available_tabs_wrapper p {
    position: relative;
}

.available_facilitor_wrapper {
    padding: 50px 0;
}

.select_head899 {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 600;
    margin: 40px 0 20px 0;
}

.available_facilitor_wrapper .available_slider {
    height: 230px;
    overflow: visible;
}

.service_date_wrapper {
    padding: 50px 0;
}

.service_content_date {
    display: flex;
    /* justify-content: space-between; */
    border: 1px solid rgba(217, 217, 217, 1);
    border-radius: 15px;
    padding: 30px 20px 50px 20px;
}

.service_date_left {
    width: 22%;
    border-right: 1px solid rgba(217, 217, 217, 1);
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.service_date_img img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.service_date_img {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.service_date_img p {
    color: var(--text-color);
    font-weight: 600;
}

.service_date_center {
    border-right: 1px solid rgba(217, 217, 217, 1);
    width: 45%;
    padding: 0 20px;

}

.service_date_calendar {
    width: 100% !important;
    border: none !important;
    background-color: transparent !important;
}

.service_date_calendar span {
    font-size: 18px !important;
}

.service_date_calendar abbr {
    text-decoration: none !important;
    font-weight: 400;
    font-size: 14px;
    color: var(--text-color);
}

.service_date_calendar .react-calendar__navigation__arrow {
    border: 2px solid rgba(217, 217, 217, 1);
    border-radius: 50%;
    font-size: 20px;
    margin: 0 10px;
}

.service_date_calendar .react-calendar__navigation__arrow:nth-child(1) {
    display: none;
}

.service_date_calendar .react-calendar__navigation__next2-button {
    display: none;
}

.service_date_calendar .react-calendar__tile--active {
    background-color: var(--primary-color) !important;

}

.service_date_calendar .react-calendar__tile--active abbr {
    color: #fff;
}

.service_date_right {
    width: 32%;
    padding: 0 20px;
}

.service_date_right h3 {
    color: var(--text-color);
    font-weight: 600;
    font-size: 15px;
}

.time_gird_wrapper {
    width: 72%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 15px;
}

.time_gird_wrapper p {
    padding: 10px 10px;
    font-weight: 400;
    color: var(--text-color);
    width: fit-content;
    border: 1px solid rgba(217, 217, 217, 1);
    font-size: 13px;
    white-space: nowrap;
    border-radius: 5px;
    cursor: pointer;
}

.cancel_select_button_wrapper {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 25px;
    width: 100%;
    margin-top: 120px;
}

.cancel_select_button_wrapper button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: 500;
}

.confirm_booking_wrapper {
    padding: 50px 0 80px 0;
}

.confirm_input_form {
    position: relative;
}

.confirm_input_form select {
    font-size: 13px;
    font-weight: 500;
    /* padding: 2px 5px 2px 0px; */
    outline: none;
    background-color: transparent;
    border: none;
    border-right: 2px solid #000;
    width: fit-content;
    height: fit-content;
}

.phone_input_Wrapper656 {
    height: 50px;
    padding: 0 15px;
    border: 1px solid rgba(70, 35, 7, 0.42);
    background: transparent;
    border-radius: 10px;
    outline: none;
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.edit_profile_input_wrapper select {
    border: 1px solid rgba(70, 35, 7, 0.42) !important;

}

.edit_profile_input_wrapper {
    margin-top: 0px !important;
}

.phone_input_Wrapper656 input {
    width: 80%;
    height: 100% !important;
    border: none !important;
    padding-left: 5px !important;
}

.confirm_booking_content_wrapper {
    display: flex;
    justify-content: space-between;
}

.confirm_left_wrapper {
    width: 60%;
}

.confirm_right_wrapper {
    width: 35%;
    border: 1px solid rgba(217, 217, 217, 1);
    border-radius: 15px;
    padding: 40px 20px 20px 20px;
    height: fit-content;
}

.booking_details_wrapper4896 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(217, 217, 217, 1);
    border-radius: 8px;
    padding: 10px 15px;
}

.booking_details_wrapper4896 i {
    color: rgba(255, 77, 73, 1);
    cursor: pointer;
}

.booking_image_wrapper7893 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.booking_image_wrapper7893 img {
    width: 60px;
    border-radius: 10px;
}

.booking_image_wrapper7893 h4 {
    font-weight: 400;
    color: var(--text-color);
    margin-bottom: 10px;
}

.booking_image_wrapper7893 h1 {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 500;
}

.booking_image_wrapper7893 h1 del {
    color: rgba(70, 35, 7, 0.34);
}

.confirm_left_wrapper h3 {
    color: var(--text-color);
    font-size: 18px;
    margin-top: 30px;
    font-weight: 600;
}

.confirm_right_wrapper h3 {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 600;
}

.confirm_form_wrapper {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.cofirm_form_grid_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    row-gap: 30px;
}

.confirm_form_wrapper input {
    border: 1px solid rgba(70, 35, 7, 0.42)
}

.payment_head_wrapper_4566778 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.payment_head_wrapper_4566778 h3 {
    margin-top: 0px;
}

.payment_head_wrapper_4566778 svg {
    transition: 0.2s linear all;
}

.transform_svg {
    transform: rotate(180deg);
    transition: 0.2s linear all;
}

.coupon_input_wrapper_45 {
    position: relative;
    width: 100%;
    margin-top: 20px;
    border-bottom: 1px solid rgba(217, 217, 217, 1);
    padding-bottom: 40px;
}

.coupon_input_wrapper_45 input {
    border: 1px solid rgba(70, 35, 7, 0.42);
    padding-right: 60px;
}

.coupon_input_wrapper_45 span {
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    top: 13px;
    right: 10px;
    cursor: pointer;
}

.order_summary_wrapper562 {
    margin-top: 15px;
    margin-bottom: 20px;
}

.order_program_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.order_program_wrapper h5 {
    color: var(--text-color);
    font-weight: 400;
    font-size: 16px;
}

.order_summary_wrapper562 {
    border-bottom: 1px solid rgba(217, 217, 217, 1);
    padding-bottom: 20px;
}

.total_wrapper_462 {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    margin-top: 20px;
}

.total_head_Wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total_head_Wrapper h2 {
    font-size: 21px;
    font-weight: 800;
    color: var(--text-color);
}

.total_head_Wrapper h1 {
    font-size: 20px;
    font-weight: 400;
    color: var(--text-color);
}

.total_wrapper_462 p {
    font-size: 15px;
    color: var(--text-color);
    line-height: 22px;
}

.payment_succesful_modal_wrapper {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(29, 29, 29, 0.49);
    height: 100vh;
    z-index: 99;
}

.payment_succesful_modal {
    padding: 40px;
    width: 500px;
    border-radius: 10px;
    background-color: #fff;
    z-index: 999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
}

.payment_succesful_modal h1 {
    color: var(--text-color);
    font-weight: 600;
}

.payment_succesful_modal p {
    font-weight: 600;
    color: var(--text-color);
}

.payment_succesful_modal a {
    color: var(--primary-color);
}

.faq_wrapper {
    padding: 70px 0 0px 0;
}

.faq_content_wrapper h2 {
    margin-bottom: 20px;
}

.faq_content_wrapper h1 {
    margin-bottom: 30px;
}

.mentor_wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.mentor_wrapper p {
    color: var(--text-color);
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    padding-bottom: 10px;
}

.faq_accordion_wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    margin-top: 30px;
}

.faq_accordion {
    padding: 20px;
    border: 1px solid rgba(70, 35, 7, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.faq_accordion h3 {
    font-weight: 400;
    font-size: 18px;
    color: var(--text-color);
}

.faq_accordion p {
    font-size: 14px;
    line-height: 22px;
    color: var(--text-color);
}

.faq_head_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.faq_head_wrapper .down_img56 {
    padding: 13px 12px;
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 10px;
}

.down_img57 {
    padding: 10px 15px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgba(216, 216, 216, 1);
    box-shadow: 0px 0.5px 1px 0px rgba(25, 33, 61, 0.07);
}

@media(max-width:768px) {
    .faq_accordion h3 {
        font-size: 17px;
    }

    .faq_accordion p {
        font-size: 12px;
        line-height: 20px;
    }
}

@media(max-width:480px) {
    .faq_accordion h3 {
        font-size: 13px;
    }

    .faq_accordion {
        padding: 15px;
    }
}

@media(max-width:999px) {
    .one_time_service_details_wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }

    .left_one_time_service {
        width: 100%;
    }

    .service_big_img {
        height: 90vh;
    }

    .service_small_img {
        height: 144px;
    }

    .right_one_time_service_details {
        width: 100%;
    }

    .service_expect_wrapper {
        flex-direction: column-reverse;
        row-gap: 40px;
    }

    .service_expert_left {
        width: 100%;
    }

    .service_expert_right {
        width: 50%;
    }

    .service_review_wrapper {
        flex-direction: column;
    }

    .service_review_details {
        width: 100%;
    }

    .service_review_img_wrapper {
        width: 100%;
    }

    .service_long_img img {
        height: 60vh;
        object-fit: cover;
    }

    .service_content_date {
        flex-direction: column;
        row-gap: 30px;
        padding-bottom: 30px;
    }

    .service_date_left {
        width: 100%;
        padding: 20px;
        border: 1px solid rgba(217, 217, 217, 1);
        border-radius: 15px;
    }

    .service_date_center {
        width: 100%;
        padding: 20px;
        border: 1px solid rgba(217, 217, 217, 1);
        border-radius: 15px;
    }

    .service_date_right {
        width: 100%;
        padding: 20px;
        border: 1px solid rgba(217, 217, 217, 1);
        border-radius: 15px;
    }

    .time_gird_wrapper {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .service_date_right p {
        text-align: center;
        width: 100%;
    }

    .confirm_booking_content_wrapper {
        flex-direction: column;
        row-gap: 40px;
    }

    .confirm_left_wrapper {
        width: 100%;
    }

    .confirm_right_wrapper {
        width: 100%;
    }
}

@media(max-width:768px) {
    .time_gird_wrapper {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .service_content_wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        row-gap: 40px;
    }

    .service_reviews_right {
        width: 100%;
    }

    .service_reviews_left {
        width: 100%;
    }

    .available_tabs_wrapper {
        overflow-x: auto;
        overflow-y: hidden;
    }

    .available_tabs_wrapper::-webkit-scrollbar {
        display: none;
    }

    .available_tabs_wrapper p {
        text-wrap: nowrap;
    }
}

@media(max-width:699px) {
    .service_expert_right {
        width: 100%;
    }

}

@media(max-width:576px) {
    .cofirm_form_grid_wrapper {
        grid-template-columns: 1fr;
    }

    .time_gird_wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .service_expert_left .faq_accordion_wrapper h3 {
        font-size: 15px;
    }

    .service_tabs_wrapper {
        overflow-x: auto;
        overflow-y: hidden;
    }

    .service_tabs_wrapper::-webkit-scrollbar {
        display: none;
    }

    .service_tabs_wrapper p {
        white-space: nowrap;
    }

    .payment_succesful_modal {
        width: 95%;
    }
}

@media(max-width:480px) {
    .service_big_img {
        height: auto;
    }

    .service_small_img {
        height: auto;
    }

    .service_date_calendar span {
        font-size: 12px !important;
    }

    .order_program_wrapper h5 {
        font-size: 15px;
    }

    .total_head_Wrapper h2 {
        font-size: 18px;
    }

    .total_head_Wrapper h1 {
        font-size: 18px;
    }

    .booking_image_wrapper7893 h1 {
        color: var(--text-color);
        font-size: 16px;
        font-weight: 500;
    }

    .booking_image_wrapper7893 h4 {
        font-size: 14px;
    }

    .payment_succesful_modal h1 {
        font-size: 20px;
    }

    .payment_succesful_modal p {
        font-size: 15px;
        text-align: center;
    }
}

@media(max-width:399px) {
    .time_gird_wrapper {
        grid-template-columns: 1fr;
    }

    .time_gird_wrapper p {
        width: 100%;
    }
}