.program_modules_wrapper{
    background-color: rgba(206, 110, 86, 0.15);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.program_modules_wrapper h2{
    font-size: 25px;
    color: var(--text-color);
}
.program_module_head_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.added_modules_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 8px;
    background-color: #f9f3ee;
}
.add_modules_enu_wrapper{
    display: flex;
    align-items: center;
    gap: 10px;
}
.edit_modules_wrapper{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.modal_radio_btn_wrapper{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin: 30px 0;
}
.modal_radio_wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}
.modal_radio_wrapper input{
    width: 18px;
    height: 18px;
    accent-color: var(--primary-color);
}
.modal_radio_wrapper p{
    font-size: 14px;
    color: var(--text-color);
}