.cms_articles_grid_wrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    margin-top: 20px;
}

.cms_card_articles {
    border-radius: 15px;
    border: 1px solid rgba(217, 217, 217, 1);
    padding: 10px;
}

.cms_card_img {
    width: 100%;
    border-radius: 12px 12px 0 0;
    object-fit: cover;
    height: 180px;
    overflow: hidden;
    position: relative;
}
.edit_cms_card_img{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.delete_cms_card_img{
       position: absolute;
    top: 50px;
    right: 10px;
    cursor: pointer;
}

.cms_card_img .cms_img456 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cms_articles_para {
    margin-top: 10px;
}

.cms_articles_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cms_articles_title p {
    font-size: 12px;
    color: var(--text-color);
    font-weight: 500;
    padding: 5px 8px;
    border-radius: 5px;
    background-color: rgba(252, 244, 234, 1);
}

.cms_articles_title small {
    font-size: 10px;
    color: var(--text-color);
}
.cms_articles_para{
    margin-top: 10px;
}
.cms_articles_para h3{
    font-size: 14px;
    color: var(--text-color);
    font-weight: 600;
    margin-bottom: 10px;
}
.cms_articles_para p{
    font-weight: 400;
    font-size: 12px;
    color: var(--text-color);
    line-height: 15px;
}
.add_articles_wrapper{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 25px;
}
.articles_form_left{
    width: 48%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.share_post_wrapper{
    display: flex;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
}
.share_post_wrapper p{
    color: var(--text-color);
    font-weight: 500;
    font-size: 14px;
}
.share_post_wrapper span{
      color: var(--text-color);
    font-weight: 500;
    font-size: 13px;
}
.share_checkbox_Wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}
.share_checkbox_Wrapper input{
    width: 18px;
    height: 18px;
    accent-color: var(--primary-color);
}
.section_divider{
    background-color: rgba(217, 217, 217, 1);
    height: 50px;
    margin: 20px 0;
    border-radius: 8px;
}
.article_section_wrapper{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin: 30px 0 0 0;
}
.article_section_head_wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
        border-bottom: 1px solid var(--text-color);
        padding-bottom: 15px;
}
.article_section_head_wrapper h2{
    color: var(--text-color);
    font-size: 22px;

}
.input_label_wrapper462{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image_position_wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}
.image_position_wrapper p{
    color: var(--text-color);
    font-size: 15px;
    font-weight: 400;
}
.image_position_wrapper select{
    font-size: 12px;
    width: fit-content;
    padding: 5px 8px 5px 8px;
    height: fit-content;
    border-radius: 5px;
    color: var(--text-color);
    background-color: rgba(255, 255, 255, 1);
    background-position: auto;
    background-image: none;
    background-repeat: no-repeat;
    /* appearance: unset; */
}
.article_section_head_wrapper i{
    cursor: pointer;
}