.dashboard_container {
    width: calc(100% - 270px);
    padding: 20px 40px 20px 20px;
}

.dashboard_container h2 {
    font-weight: 600;
    color: var(--text-color);
    font-size: 27px;
}

.dashboard_cards_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
    margin: 20px 0;
    border-bottom: 1px solid rgba(217, 217, 217, 1);
    padding-bottom: 35px;
}

.dashboard_card {
    padding: 20px 15px;
    border: 1px solid rgba(217, 217, 217, 1);
    border-radius: 8px;
}

.dashboard_card_content_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 20px;
}

.dashboard_card h3 {
    font-weight: 600;
    font-size: 25px;
    color: var(--text-color);
}

.dashboard_card h5 {
    font-weight: 600;
    font-size: 16px;
    color: var(--text-color);
    margin-top: 5px;
}

.total_order_head_wrapper h1 {
    font-weight: 600;
    font-size: 25px;
    color: var(--text-color);
}

.total_order_head_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total_orders_select_wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.total_orders_select_wrapper div {
    border: 1px solid var(--primary-color);
    padding: 10px 10px 10px 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    border-radius: 8px;
    z-index: 8;
}

.total_orders_select_wrapper p {
    color: var(--primary-color);
    font-size: 15px;
    font-weight: 500;
}

.total_orders_select_wrapper i {
    font-size: 12px;
    color: var(--primary-color);
}

.table_container {
    overflow-x: auto;
    margin: 20px 0;
}

.total_table_order_wrapper {
    width: 100%;
    border-collapse: collapse;
    min-width: 500px;
}

.total_table_order_wrapper th {
    text-align: center;
    padding: 20px 20px;
    background-color: #8f9b6d;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.total_table_order_wrapper th:first-child {
    border-radius: 10px 0 0 0;
}

.total_table_order_wrapper th:last-child {
    border-radius: 0px 10px 0 0;
}

.total_table_order_wrapper td {
    text-align: center;
    padding: 10px 20px;
    color: var(--text-color);
    font-size: 14px;
}

.customer_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.customer_details_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
}

.customer_details_wrapper p {
    text-align: left;
    color: var(--text-color);
    font-size: 14px;
}

.customer_img_div {
    width: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid #d5d4cf;
    overflow: hidden;
}

.customer_img_div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 50%;
}

.total_table_order_wrapper button {
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    font-size: 11px;
    background-color: rgba(231, 62, 69, 1);
    border: none;
}

.total_table_order_wrapper tr {
    border-bottom: 1px solid rgba(216, 216, 216, 1)
}

.dropdown_wrapper {
    position: absolute;
    bottom: -100px;
    left: 0;
    width: 100% !important;
    background-color: #fff;
    padding: 20px 15px !important;
    display: flex;
    flex-direction: column;
    border: none !important;
    box-shadow: 0px 8px 12px 0px rgba(9, 30, 66, 0.15);
    display: flex;
    align-items: start !important;
}

.dropdown_wrapper p {
    text-align: left !important;
    font-size: 13px !important;
    color: #000 !important;
    font-weight: 400 !important;
}