.sidebar_Wrapper {
    width: 260px;
    /* height: calc(100vh - 90px); */
    padding: 25px 20px 50px 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    overflow-y: auto;
    border-right: 1px solid rgba(217, 217, 217, 1)
}
.sidebar_Wrapper::-webkit-scrollbar{
    display: none;
}
.sidebar_Wrapper a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 8px 15px;
    text-decoration: none;
    width: 100%;
}

.sidebar_Wrapper .active {
    border: 1px solid #000;
    border-radius: 10px;
}

.sidebar_Wrapper a p {
    color: var(--text-color);
    text-decoration: none;
    font-size: 14px;
}