.navbar_wrapper {
    height: 90px;
    border-bottom: 1px solid rgba(220, 224, 229, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_content_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar_logout_wrapper img:nth-child(1) {
    padding: 8px;
    border-radius: 10px;
    background-color: rgba(224, 173, 34, 1);
}

.navbar_logout_wrapper img:nth-child(2) {
    padding: 8px;
    border: 1px solid rgba(220, 224, 229, 1);
    border-radius: 10px;
}

.navbar_logout_wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    position: relative;
}

.user_dropdown {
    position: absolute;
    width: 200px;
    box-shadow: 0px 8px 12px 0 rgba(9, 30, 66, 0.15);
    border-radius: 8px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    bottom: -150px;
    right: 45%;
    border: 1px solid rgba(220, 224, 229, 1);
    z-index: 9;
}

.user_dropdown p {
    font-size: 14px;
    color: var(--text-color);
    transition: 0.2s linear all;
    padding: 10px 20px;
}
.user_dropdown p:hover{
    background-color: #e8e8e8;
}

.user_square {
    width: 20px;
    height: 20px;
    border-radius: 8px 0px 8px ;
    background-color: #fff;
    position: absolute;
    top: -10.5px;
    right: 20px;
    rotate: 45deg;
    border-top: 1px solid rgba(220, 224, 229, 1);
    border-left: 1px solid rgba(220, 224, 229, 1);
}