.brown_button {
    border-radius: 8px;
    color: #fff;
    width: fit-content;
    min-width: fit-content;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 500;
    background-color:var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}