.modal_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal_div {
  width: 600px;
  border-radius: 10px;
  background-color: #fff;
  padding: 30px 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9999;
  transform: translate(-50%, -50%);
  height: fit-content;
  max-height: 95vh;
  overflow-y: auto;
}

.modal_img_div {
  width: 450px;
  border-radius: 10px;
  background-color: #fff;
  padding: 30px 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9999;
  transform: translate(-50%, -50%);
  height: fit-content;
  max-height: 95vh;
  overflow-y: auto;
}

.modal_div::-webkit-scrollbar {
  display: none;
}

.modal_div h4 {
  font-weight: 600;
  color: var(--text-color);
  font-size: 20px;
}

.modal_div .fa-xmark {
  position: absolute;
  top: 35px;
  cursor: pointer;
  right: 20px;
}

.modal_form {
  margin: 30px 0 0 0;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.change_cancel_wrapper button:first-child {
  font-size: 15px;
  font-weight: 700;
  color: var(--text-color);
  border: none;
  background-color: transparent;
}

.change_cancel_wrapper {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
}

.files_upload_wrapper {
  width: 100%;
  height: 150px;
  border: 1px solid rgba(217, 217, 217, 1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.files_upload_wrapper p {
  font-size: 15px;
  font-weight: 500;
}

.files_upload_wrapper p span {
  color: var(--primary-color);
  font-weight: 600;
  cursor: pointer;
}

.files_upload_wrapper h5 {
  font-size: 15px;
  font-weight: 400;
}

.files_upload_wrapper input {
  position: absolute !important;
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
  min-height: 100% !important;
  opacity: 0;
}

.modal_input_grid_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  column-gap: 15px;
  gap: 25px;
}

.phone_input_Wrapper656 {
  height: 50px;
  padding: 0 15px;
  background: transparent;
  border-radius: 10px;
  outline: none;
  font-size: 14px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid rgba(216, 216, 216, 1);
}

.phone_input_Wrapper656 input {
  width: 80%;
  height: 100% !important;
  border: none !important;
  padding-left: 5px !important;
}

.phone_input_Wrapper656 select {
  border-radius: 0px !important;
  height: fit-content !important;
  padding: 0px 0px !important;
  background-image: none !important;
  appearance: unset !important;
}

.phone_input_Wrapper656 input {
  border: none !important;
}

.input_form select {
  height: 50px;
  padding: 0px 14px;
  background: transparent;
  border-radius: 10px;
  outline: none;
  font-size: 14px;
  border: 1px solid rgba(216, 216, 216, 1);
  appearance: none;
  background-image: url("../../assets/_ChevronDownIcon_.png");
  background-position: right 0.7rem top 50%;
  background-size: 25px auto;
  background-repeat: no-repeat;
}

.modal_disputes_details {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.modal_disputes_details p {
  font-weight: 600;
  font-size: 14px;
  color: var(--text-color);
}

.modal_disputes_details span {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.download_attachment_wrapper {
  margin: 20px 0;
}

.download_attachment_wrapper .brown_button {
  border: 1px solid var(--primary-color);
  background-color: transparent;
  color: var(--text-color);
}

.modal_img_div22 {
  border: 1px solid rgba(217, 217, 217, 1);
  border-radius: 15px;
  padding: 25px;
  margin: 20px 0;
}

.modal_img_div22 img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.modal_img_div22 hr {
  margin-top: 10px;
  border: 1px solid rgba(217, 217, 217, 1);
}

.modal_img_details {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-top: 15px;
}

.modal_img_details p {
  font-weight: 600;
  font-size: 13px;
  color: var(--text-color);
}

.modal_img_details span {
  font-weight: 400;
  color: var(--text-color);
}
.coupon_input_wrapper {
  position: relative;
}
.coupon_input_wrapper input {
  height: 50px;
  width: 100%;
  padding: 0 60px 0 10px;
  border: 1px solid rgba(217, 217, 217, 1);
  border-radius: 10px;
  outline: none;
}
.coupon_input_wrapper input::placeholder {
  font-weight: 500;
  color: var(--text-color);
}
.coupon_input_wrapper a {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 13px;
  position: absolute;
  top: 18px;
  right: 10px;
}
.order_summary_wrapper {
  width: 100%;
  border: 1px solid rgba(217, 217, 217, 1);
  border-radius: 15px;
  padding: 20px;
}
.order_summary_wrapper h3 {
  color: var(--text-color);
  font-weight: 600;
  font-size: 16px;
}
.order_summary_list_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin: 15px 0;
}
.order_summary_list_wrapper p {
  color: var(--text-color);
  font-weight: 400;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.total_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.total_wrapper h4 {
  color: var(--text-color);
  font-size: 17px;
  font-weight: 700;
}
.contact_modal_name_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.contact_modal_name_wrapper p {
  font-weight: 600;
  font-size: 15px;
}
.contact_modal_name_wrapper span {
  font-weight: 400;
}
.contact_message_wrapper {
  margin-top: 20px;
}
.contact_message_wrapper p {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 8px;
}
.contact_message_wrapper span {
  font-weight: 400 !important;
  font-size: 14px;
  line-height: 25px;
}
.add_section_checkbox_Wrapper466 {
  margin: 30px 0;
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}
.article_section_checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
.article_section_checkbox input {
  width: 18px;
  height: 18px;
  accent-color: var(--primary-color);
}
.article_section_checkbox p {
  color: var(--text-color);
  font-size: 15px;
  font-weight: 400;
}
.single_pay_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.single_pay_wrapper .enbale_wrapper {
  margin-top: 30px;
}
.multiple_porgram_categories_div {
  width: 100%;
  padding: 15px 10px;
  border: 1px solid rgba(216, 216, 216, 1);
  border-radius: 10px;
}
.multiple_program_categories_input_form {
  grid-column: 1/-1;
  position: relative;
}
.multiple_porgram_categories_div p {
  font-size: 0.8rem;
}
.multiple_program_categories_dropdown {
  height: 100px;
  width: 100%;
  overflow-y: auto;
  box-shadow: 0px 0px 2px #ccc;
  border: 1px solid rgba(216, 216, 216, 1);
  border-radius: 10px;
  padding: 10px 10px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.multiple_program_categories_dropdown p{
    font-size: 0.8rem;
    width: 45%;
    padding: 5px 15px;
    border: 1px solid rgba(216, 216, 216, 1);
    height: fit-content;
    border-radius: 5px;
    cursor: pointer;
}
.codeName_input input{
    text-transform: uppercase;
}