.payout_content_wrapper ul li{
    list-style: none;
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}
.payout_content_wrapper ul{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    padding-top: 20px;
}
.payment_owner_wrapper{
    padding: 20px;
    border: 1px solid rgba(217, 217, 217, 1);
    border-radius: 15px;
    width: 45%;
    margin-inline: auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.payment_owner_wrapper img{
    width: 180px;
    border-radius: 15px;
    object-fit: cover;
}
.payment_owner_left{
    width: calc(100% - 200px);
    padding: 15px 0;
    border-top:  1px solid rgba(217, 217, 217, 1);
    border-bottom:  1px solid rgba(217, 217, 217, 1);
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.payment_owner_left h3{
    font-size: 18px;
    color: var(--text-color);
}
.payment_owner_left p{
    color: var(--text-color);
    font-size: 13px;
}