* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lora;
}
.dashboard_content_wrapper{
  display: flex;
  justify-content: space-between;
}
.container{
  width: 95%;
  margin-inline: auto;
}
body{
  background-color: #faf9f5;
}

h1,h2,h3,h4,h5,h6{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
p{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}